div.product-container-container {
    display: block;
    padding: 8px;
}

div.product-container-title {
    display: block;
    padding:12px;
}

div.product-container-title h1 {
    font-size: 18pt;
}